
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570716893556-8cae2e541ba8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
    <div class="container center">
      <h1>Explore our cocktails or</h1>
      <div class="banner_button">
        <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>

  <div class="container cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip">
          <%= cl_image_tag cocktail.photo.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <p>Created by bartender <%= "Poppy" %></p>
              <%= link_to 'Delete', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <%= cl_image_tag cocktail.bartender.key, class: "card-trip-user avatar-bordered", height: 40, width: 40, crop: :fill %>
          </div>
        </div>
      <% end %>
  </div>

