<div class="container col-4 justify-content-center p-3">


  <div class="card-trip">
    <%= cl_image_tag @cocktail.photo.key %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @cocktail.name %></h2>
        <h3>
          This cocktail is made from...
          <% @cocktail.doses.each do |dose| %>
            <ul>
              <li><%= dose.description %> - <%= dose.ingredient.name %></li>
            </ul>
          <% end %>
        </h3>
          <%= link_to "Add some extras to this cocktail", new_cocktail_dose_path(@cocktail) %>
      </div>
      <p class="card-trip-pricing">Your bartender is <%= "Poppy" %></p>
      <%= cl_image_tag @cocktail.bartender.key, class: "card-trip-user avatar-bordered", height: 40, width: 40, crop: :fill %>
      
    </div>
  </div>
 <p class="basic-link p-3">
    <%= link_to "See all cocktails", cocktails_path %>
    </p>
</div>